CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = db
database.default.database = consultas_medicas
database.default.username = root
database.default.password = root123
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
